* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  transition:
    background-color 0.3s,
    color 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.light {
  background-color: #e6f6ff;
}

body.dark {
  // background-color: #53768a;
  background-color: #1e4e68;

  header {
    background: linear-gradient(to right, #525252, #242424);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #ffffff;
  }
}

.wrapper {
  background: #ffffff;
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.content {
  h1 {
    margin: 0;
  }
}

.slider {
  max-width: 960px;
  height: 300px;
  margin: 0 auto;
  background-color: #f4efe9;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.slider-wrapper {
  margin-top: 5px;
  margin-bottom: 40px;
}

.slider-content {
  display: flex;
  flex-direction: column;

  .slider-content__img {
    padding-top: 16px;
    padding-left: 20px;
  }

  .slider-content__info {
    display: flex;
    flex-direction: column;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    margin-top: 32px;
    margin-left: 60px;

    span {
      color: #9dd458;
    }
    h3 {
      margin: 0;
    }
    button {
      margin-top: 24px;
      width: 177px;
      height: 47px;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.cartEmpty {
  margin: 0 auto;
  width: 280px;
  line-height: 24px;
  .green-button {
    width: 245px;
    margin-top: 20px;

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transform: rotate(180deg);
      transition: transform 0.15s ease-in-out;
    }
  }
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  .clear {
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 15px;
  }
  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
  &:focus-within {
    transform: scale(1.05);
    box-shadow: 0 0 5px #dfdfdf;
  }
}

.green-button {
  cursor: pointer;
  width: 100%;
  height: 55px;
  border-radius: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: none;
  background: #9dd458;
  text-align: center;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;

  span {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    img {
      position: absolute;
      right: 90px;
    }
  }
  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background: lighten($color: #9dd558, $amount: 1);
  }
  &:active {
    box-shadow: none;
    background: darken($color: #9dd558, $amount: 1);
  }
  &:disabled {
    background-color: #bebebe !important;
    cursor: default;
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1054px) {
  .cartHomePages {
    justify-content: space-around;
  }
}
@media (max-width: 970px) {
  .slider {
    display: none;
  }
}

@media (max-width: 814px) {
  .cartHomePages {
    justify-content: flex-start;
  }
  .mainContent {
    display: inline-block;
  }
  .search-block {
    margin-top: 20px;
  }
}
