body {
  margin: 0;
  background-color: #e6f6ff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Inter", sans-serif;
}

.wrapper {
  background: #ffffff;
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.content {
  h1 {
    margin: 0;
  }
}
.cartEmpty {
  margin: 0 auto;
  width: 280px;
  line-height: 24px;
  .green-button {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }
    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transform: rotate(180deg);
      transition: transform 0.15s ease-in-out;
    }
  }
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  .clear {
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 15px;
  }
  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
  &:focus-within {
    transform: scale(1.05);
    box-shadow: 0 0 5px #dfdfdf;
  }
}

// .overlay {
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 1;
//   background-color: rgba(0, 0, 0, 0.1);

// .drawer {
//   display: flex;
//   flex-direction: column;
//   position: absolute;
//   right: 0;
//   width: 420px;
//   height: 100%;
//   padding: 30px;
//   background: #ffffff;
//   box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

//   .cart-close {
//     display: contents;
//     h2 {
//       display: flex;
//       justify-content: space-between;
//       margin-bottom: 30px;
//     }

//     img {
//       cursor: pointer;
//     }
//     .wrapperCart {
//       display: contents;
//     }
//   }

//   .items {
//     flex: 1;
//     overflow: auto;
//     margin-bottom: 20px;
//   }

//   h2 {
//     margin: 0;
//     font-weight: 700;
//     line-height: 29px;
//   }
// }
// }

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .cart-item__img {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-position: 0 10px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }

  .remove-btn {
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

// .cart-totalBlock {
//   ul {
//     display: block;
//     margin-bottom: 40px !important;
//   }
//   li {
//     display: flex;
//     align-items: flex-end;
//     margin-bottom: 24px;

//     div {
//       position: relative;
//       top: -4px;

//       flex: 1;
//       border-bottom: 1px dashed #dfdfdf;
//       margin: 0 10px;
//     }
//   }
//   .green-button {
//     position: relative;

//     &:disabled {
//       animation: button-loading 0.6s ease-in-out infinite;
//     }

//     &:hover {
//       img {
//         transform: translateX(5px);
//       }
//       &:active {
//         img {
//           transform: translateX(-1px);
//         }
//       }
//     }
//     img {
//       position: absolute;
//       right: 30px;
//       top: 20px;
//       transition: transform 0.15s ease-in-out;
//     }
//   }
// }

.green-button {
  cursor: pointer;
  width: 100%;
  height: 55px;
  border-radius: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: none;
  background: #9dd458;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;

  span {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
  }
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background: lighten($color: #9dd558, $amount: 1);
  }
  &:active {
    transform: translateY(1px);
    box-shadow: none;
    background: darken($color: #9dd558, $amount: 1);
  }
  &:disabled {
    background-color: #bebebe !important;
    cursor: default;
  }
}

.favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  margin: 0 auto;
  text-align: center;
  img {
    margin-bottom: 29px;
    margin-top: 100px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    opacity: 40%;
    margin-bottom: 70px;
  }
  .green-button {
    cursor: pointer;
    width: 245px;
    color: #f3f3f3;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
