body {
  margin: 0;
  background-color: #e6f6ff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Inter", sans-serif;
}

.wrapper {
  background: #ffffff;
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.content {
  h1 {
    margin: 0;
  }
}
.cartEmpty {
  margin: 0 auto;
  width: 280px;
  line-height: 24px;
  .green-button {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }
    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transform: rotate(180deg);
      transition: transform 0.15s ease-in-out;
    }
  }
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  .clear {
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 15px;
  }
  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
  &:focus-within {
    transform: scale(1.05);
    box-shadow: 0 0 5px #dfdfdf;
  }
}

.green-button {
  cursor: pointer;
  width: 100%;
  height: 55px;
  border-radius: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: none;
  background: #9dd458;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;

  span {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
  }
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background: lighten($color: #9dd558, $amount: 1);
  }
  &:active {
    transform: translateY(1px);
    box-shadow: none;
    background: darken($color: #9dd558, $amount: 1);
  }
  &:disabled {
    background-color: #bebebe !important;
    cursor: default;
  }
}

.favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  margin: 0 auto;
  text-align: center;
  img {
    margin-bottom: 29px;
    margin-top: 100px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    opacity: 40%;
    margin-bottom: 70px;
  }
  .green-button {
    cursor: pointer;
    width: 245px;
    color: #f3f3f3;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
